<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="7zip" />
  <package id="Firefox" />
  <package id="JetBrainsMonoNF" />
  <package id="autohotkey" />
  <package id="firacode-ttf" />
  <package id="git" packageParameters="/NoShellIntegration /NoAutoCrlf /SChannel /WindowsTerminal" />
  <package id="go-task" />
  <package id="intellijidea-ultimate" />
  <package id="jetbrainstoolbox" />
  <package id="starship" />
  <package id="vscode" />
</packages>